@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 100px; //height of the footer
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

footer {
  position: absolute;
  bottom: -20px;
  height: 100px;
  width: 100%;
}

.bordered-10 {
  border-radius: 20px;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
}

#logo img {
  height: 65px;
  color: aliceblue;
}

.nav-link:hover,
.active {
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 0.25rem;
}

.profile a {
  text-decoration: none;
}

.profile img {
  max-width: 300px;
  max-height: 300px;
}
